* {
    padding: 0;
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
body{
    background-color: black;
}
.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1050px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    /* margin-bottom: 20px; */
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    padding :0 30px;
    gap: 23px;
    /* line-height: normal; */
}

.hero> :nth-child(1) {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
}
/* hero> means immedeate child hero : nth child means any element which is first child */

.separation{
height: 7px;
background-color: rgb(46, 44, 44);
position: relative;
z-index: 20;
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(241, 238, 238, 0.084);
    border: 1px solid rgba(255, 255, 255, 0.502);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}

.btn-red{
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}
.main input{
    padding: 7px 101px 8px 14px ;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(25, 24, 24, 0.7);
    border: 1px solid rgba(244, 237, 237, 0.361);
    color :white;
    font-weight: 700;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn-red-sm{
    background-color: red;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    align-items: center;
}
.first>div{
    display: flex;
    
    padding :34px 0px;
}
.secImg{
    position : relative;
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    width: 555px;
    top: 100px;
    /* left: 25px; */
    /* right: 90px; */
}

.first div> :nth-child(1){
    font-size: 32px;
    font-weight: 700;
    /* width:40vw; */
}
.first div> :nth-child(2){
    /* margin-top: 15px; */
    font-size: 24px;
    font-weight: 400;
    /* width: 40vw; */
}

.second div> :nth-child(1){
    font-size: 48px;
    font-weight: 900;
    /* width:40vw; */
}
.second div> :nth-child(2){
    /* margin-top: 15px; */
    font-size: 18px;
    font-weight: 400;
    /* width: 40vw; */
}
.third div> :nth-child(2){
    /* margin-top: 15px; */
    font-size: 24px;
    font-weight: 400;
    /* width: 40vw; */
}
.third .secImg video{
    position: absolute;
    width: 360px;
    top: px;
    /* left: 25px; */
    right: 100px;
}
.fourth div> :nth-child(2){
    /* margin-top: 15px; */
    font-size: 24px;
    font-weight: 400;
    /* width: 40vw; */
}
@media screen and (max-width: 1300px){
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 308px;
    }
    .secImg video{
        width: 308px;
    }
    .third .secImg video{
        width: 200px;
        
    }
}
.faq h2{
    text-align: center;
    font-size: 48;
    font-weight: 900;
}
.faq{
    background-color: black;
    color: white;
    padding : 34px;
}
.faqbox:hover{
    background-color: #414141;
    color:white;
}
.faqbox {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    background-color: #2d2d2d;
    max-width:60vw;
    padding :24px;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s ease-out;
}
.faqbox svg{
    filter: invert(1);
}

.hero-faq{
    margin-bottom: 20px;
}
.hero-faq> :nth-child(1) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
.hero input{
    padding: 7px 101px 8px 14px ;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(25, 24, 24, 0.7);
    border: 1px solid rgba(244, 237, 237, 0.361);
    color :white;
    font-weight: 700;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding :14px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 23px;
    color: white;
    margin: auto;
}
@media screen and (max-width: 1300px){
    .footer{
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
        row-gap: 23px;
    }
}

footer .questions{
    padding: 34px 0px;
}
.footer a{
    font-size: 14px;
    color: white;
}
@media screen and (max-width:600px) {
    nav{
        max-width: 90vw;
    }
    .hero-buttons{
        flex-direction: column;
    }
   
}